<div class="starter-template">
        <h1>About Us</h1>
        <p class="lead">We use Artifficial Intelligence to write software.<br> Robots are more efficient than humans.</p>
        <p>from Mongo : {{ info }}</p>
        <p>and more : {{ moreinf }}</p>
</div>