<div class="container">

      <form class="form-signin" method="POST" action='/save'>
        <h2 class="form-signin-heading">Please fill in form</h2>
        
        <label for="inputUser" class="sr-only">User</label>
        <input type="text" name="username" class="form-control" id="inputUser"placeholder="Username" required autofocus>

        
       
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="text" name="email" class="form-control" id="inputEmail"placeholder="Email" required autofocus>

        <label for="inputFirstname" class="sr-only">First Name</label>
        <input type="text" name="firstname" class="form-control" id="inputFirstname"placeholder="Firstname" required autofocus>

        <label for="inputLastname" class="sr-only">Last Name</label>
        <input type="text" name="lastname" class="form-control" id="inputLastname"placeholder="Lastname" required autofocus>

        <label for="inputadmin" class="sr-only">Admin</label>
        <input type="text" name="admin" class="form-control" id="inputAdmin"placeholder="Admin" required autofocus>


        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
      </form>

    </div> <!-- /container -->